* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px verdana, arial, helvetica, sans-serif;
	background-color: #181818;
	color: #fff;
  text-align: center;
  line-height: 150%;
}

a {
  color: #6090bf;
  font-weight:normal;
  text-decoration:underline;
}

a:hover {
  color: #406080;
}

h1 {
	font:normal normal normal 26px/30px georgia, times new roman, serif;
	margin:-65px 0 23px 0;
	color:#fbfbfb;
	text-shadow: 0px 5px 0px rgba(200, 200, 200, 0.2);
}

p {
  margin:12px 0;
  color:#fbfbfb;
}

/* Form ------------------------------------------------------------------- */
label {
  margin: 3px 0;
  font-size: 12px;
  color:#404040;
  font-weight: bold;
  display: block;
}

label.checkbox {
  font-weight: normal;
  display: inline;
}

input {
  border: 1px solid #ccc;
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  background: white;
  color: black;
}
input:hover {
  border: 1px solid #6ad;
}

input.long,
input.medium { 
	background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    color: #555555;
    font-size: 20px;
	border-radius:5px;
	width:96%;
	padding-left: 5px;
	padding-right: 5px;
}
input.long:focus, input.medium:focus { border-color:#aaa; }

input.checkbox {
  border: 0;
  width: auto;
}

input.submit {
    background-color: #2651a8;
    background-image: linear-gradient(to bottom, #305FBF, #2651a8);
    border-color: #2651a8 #2651a8 #305FBF;
    box-shadow: 0 2px 0 rgba(131, 164, 231, 0.5) inset;
    color: #fbfbfb;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	font-size:14px;
	cursor:pointer;
	border-radius: 6px;
	padding: 3px 10px;
}

/* Construction ----------------------------------------------------------- */
#dialog {
	margin: 150px auto 0 auto;
	background: #fff;
	color: #222;
	padding: 26px 24px 26px;
	width: 332px;
	text-align: left;
	border: 1px solid #E5E5E5;
    box-shadow: 0 4px 10px -1px rgba(42, 85, 118, 0.7);
    font-weight: normal;
	border-radius:0px 40px;
}

/* Login dialog ----------------------------------------------------------- */
#login-username-div, #login-password-div {
  padding-top: 1px;
}

#login-username-div {
	margin-bottom:15px;
}

* html #login-username-div {
  margin-top: 1px;
}

#login-password-div {
  margin-bottom:15px;
}

#login-submit span, #forgot-submit span {
  padding-left: 8px;
  font-size: 11px;
}

* html #login-submit span, * html #forgot-submit span {
  position: relative;
  top: -4px;
}


#forgot-submit, #login_submit {
	margin-top:20px;
}

#forgot-email {
    width: 325px;
}

/* Messages --------------------------------------------------------------- */
#error, #success {
  margin: -5px -10px 0;
  padding: 10px 20px;
  text-align: left;
}
#error {
  background: #a22;
  color: #fff;
}
#success {
  background: #30bf30;
  color: #fff;
}
