/* Body */
body { 
	margin:0; 
	background-color:#ECECEC;
}

#content-wrapper { margin:0px; border-radius:0px!important; border:0; }

/* Footer */
#footer p { 
	margin-left:17%;
	color:#777;
	padding-top:20px;
}
#site-links {
	left:auto !important;
	bottom:auto !important;
	right:18px !important;
	top:14px !important;
	color:#999 !important;
	font-size:13px;
	padding-top:0px !important;
}
#site-links a { color:#ddd !important; }

/* Header */
#header { 
	width:auto; 
	border:0;
	height:48px;
	padding:0;
	margin:0;
	background-color:#464646;
}
#header #site-title { padding:10px 0 0 15px; margin:0; }
#header #site-title a { font-size:22px; font-weight:normal !important; }

/* mainTabs Navigation */
#header #mainTabs { 
	position:relative;
	float:left; 
	width:17%;
	margin:12px 0 0 0;
}
#header #mainTabs ul {
	display:block;
	position:relative;
	width:100%;
}
#header #mainTabs ul li {
	display:block;
	width:100%;
	clear:both;
}
#header #mainTabs ul li a {
	border-radius:0px;
	width:95%;
	display:block;
	margin:0px;
	border-bottom:0;
	font-size:12px;
	font-weight:Bold;
	color:#21759B;
	background:#ececec url('images/nav-sep.gif') repeat-x bottom left;
	border-right:1px solid #bbb;
	padding-left:24px;
	padding-right:0 !important;
}
#header #mainTabs ul li.right a,
#header #mainTabs ul li a:hover {
	background-color:#E4E4E4;
	color:#d54e21;
}
#header #mainTabs ul li.right a { background-color:#ececec; }
#header #mainTabs ul li.right a:hover { background-color:#e4e4e4; }
#header #mainTabs ul li a.current {
	padding-bottom:4px;
	position:relative;
	z-index:200;
	background:url('images/nav-current-bg.gif') repeat-x left top;
	background:
		url('images/nav-current-bg2.png') no-repeat 102% center,
		#6d6d6d url('images/nav-current-bg.gif') repeat-x left top
	;
	border-right:none;
	color:#fff;
}
#header #mainTabs ul li:last-child a { background-image:none; border-bottom:0px; }

	/* Icons */
	/*plugin-16*/
	#header #mainTabs ul li.plugin a {
		background:	url('../../../icons/plugin-16.png') no-repeat 4px center,
					url("images/nav-sep.gif") repeat-x scroll left bottom #ECECEC !important;
	}
	#header #mainTabs ul li.plugin a.current {
		background: url('../../../icons/plugin-16.png') no-repeat 4px center,
					url('images/nav-current-bg.png') no-repeat right center !important;
	}
	#header #mainTabs ul li#page-plugin a {
		background: url('../../../icons/page-16.png') no-repeat 4px center,
					url("images/nav-sep.gif") repeat-x scroll left bottom #ECECEC !important;
	}
	#header #mainTabs ul li#page-plugin a.current {
		background: url('../../../icons/page-16.png') no-repeat 4px center,
					url('images/nav-current-bg.png') no-repeat right center !important;
	}
	#header #mainTabs ul li#snippet-plugin a {
		background: url('../../../icons/snippet-16.png') no-repeat 4px center,
					url("images/nav-sep.gif") repeat-x scroll left bottom #ECECEC !important;
	}
	#header #mainTabs ul li#snippet-plugin a.current {
		background: url('../../../icons/snippet-16.png') no-repeat 4px center,
					url('images/nav-current-bg.png') no-repeat right center !important;
	}
	#header #mainTabs ul li#layout-plugin a {
		background: url('../../../icons/layout-16.png') no-repeat 4px center,
					url("images/nav-sep.gif") repeat-x scroll left bottom #ECECEC !important;
	}
	#header #mainTabs ul li#layout-plugin a.current {
		background: url('../../../icons/layout-16.png') no-repeat 4px center,
					url('images/nav-current-bg.png') no-repeat right center !important;
	}
	#header #mainTabs ul li#file_manager-plugin a {
		background: url('../../../icons/file-folder-16.png') no-repeat 4px center,
					url("images/nav-sep.gif") repeat-x scroll left bottom #ECECEC !important;
	}
	#header #mainTabs ul li#file_manager-plugin a.current {
		background: url('../../../icons/file-folder-16.png') no-repeat 4px center,
					url('images/nav-current-bg.png') no-repeat right center !important;
	}
	#header #mainTabs ul li.right a {
		background: url('../../../icons/settings-16.png') no-repeat 4px center,
					url("images/nav-sep.gif") repeat-x scroll left bottom #ECECEC !important;
	}
	#header #mainTabs ul li.right a.current {
		background: url('../../../icons/settings-16.png') no-repeat 4px center,
					url('images/nav-current-bg.png') no-repeat right center !important;
	}
	
	/**/

/* --- --- --- */

#main { 
	width:83%; 
	float:right;
	position:relative;
	z-index:100;
	background-color:#fff; 
	box-shadow:-5px 3px 5px #ccc;
	min-height:500px;
}
#content {
	border-radius:0px !important;
	box-shadow:none !important;
}
#content h1 { 
	border-radius:0px;
	background:none;
	color:#464646;
	text-shadow:none;
	font-size:23px;
	line-height:29px;
	margin:0 0 20px 0;
	padding:0;
}
#content h1 a { color:#21759B; }
.form-area { background-color:#fff; }
table.index { border-collapse:separate; }

table.index th,
#site-map-def div {
	height:26px;
	background:url('images/site-map-def-bg.gif') repeat-x;
	font-size:14px;
	padding-top:8px;
	padding-bottom:0px;
	color:#555;
}

#site-map-def div { border-radius:4px 4px 0 0 !important; }
#site-map-def {
	border:1px solid #ddd;
	border-bottom:0;
}

ul.index li {
	border:1px solid #ddd;
	border-bottom:0;
}
#site-map-root {
	/*border:1px solid #ddd;*/
	border-top:0;
	border-bottom:0;
	color:#444;
}
#site-map { border-bottom:0; }
#site-map-root li:last-of-type { }
#site-map-def div.page,
#site-map-def div.layout,
#site-map-def div.snippet {
	padding-left:10px;
}
#site-map-def.index-def {
	padding:0;
	background:none;
	border-radius:4px 4px 0 0;
}

#site-map-root .page a .title, 
#site-map .page a .title, 
#site-map .node .page a:visited .title
.index .node,
.index .node a,
.index .node a:visited {
	font-size:13px !important;
	color:#21759B !important;
}

.index .node,
#site-map-root .node {
	background:#F9F9F9 !important;
}

.index .node:hover,
#site-map-root .node:hover {
	background:#F5F5F5 !important;
}

#site-map-root #page-0 .page:hover,
#site-map-root li.hover,
#site-map li:hover,
#site-map li.hover {
	background:#eeeeee;
}

#body_page_index #site-map-def { border-radius:4px 4px 0 0 !important; }
#body_page_index .node.level-0 { border:1px solid #ddd; }
#body_page_index #content-wrapper {
	width:100% !important; 
}

/* Sidebar */
#sidebar-wrapper { 
	float:right; 
	margin:69px 0 0 0; 
	width:30%;
}
#sidebar { width:95%; }
#sidebar p {
	line-height:20px;
	color:#555;
}
#sidebar p.button {
	display:block;
	background:#ececec url('images/site-map-def-bg.gif') repeat-x;
	box-shadow:none;
	border-radius:4px;
	border:1px solid #ddd;
	padding-bottom:4px;
}
#sidebar p.button:hover {
	background:#eaeaea;
	cursor:pointer;
}
#sidebar p.button a {
	color:#444;
	border-radius:0px;
	display:inline-block;
	width:100%;
}
#sidebar p.button img {
	padding:0;
	background:none;
	margin-left:-17px;
}

/* Sidebar boxes */
#sidebar div.box {
	box-shadow:none;
	border:1px solid #ddd;
	background-color:#F8F8F8;
}
#sidebar div.box h2 {
	background:url('images/site-map-def-bg.gif') repeat-x;
	padding:5px 0;
	margin:-10px -20px 0 -20px;
	padding-left:10px;
	border-radius:4px 4px 0 0;
	font-size:14px;
	color:#464646;
}

/* Title icons */

/* Default icon, plugin icon. */
#content h1:first-child {
	background:url('../../../icons/plugin-32.png') no-repeat left center;
	padding-left:36px;	
}
#body_page_add #content h1:first-child,
#body_page_edit #content h1,
#body_page_index #content h1:first-child {
	background:url('../../../icons/page-32.png') no-repeat left center !important;
	padding-left:36px;
}
#body_snippet_add #content h1:first-child,
#body_snippet_edit #content h1:first-child,
#body_snippet_index #content h1:first-child {
	background:url('../../../icons/snippet-32.png') no-repeat left center;
	padding-left:36px;
} 
#body_layout_add #content h1:first-child,
#body_layout_edit #content h1:first-child,
#body_layout_index #content h1:first-child {
	background:url('../../../icons/layout-32.png') no-repeat left center;
	padding-left:36px;
}
#body_plugin_file_manager #content h1:first-child {
	background:url('../../../icons/file-folder-32.png') no-repeat left center;
	padding-left:36px;
}
#body_setting_index #content h1:first-child {
	background:url('../../../icons/settings-32.png') no-repeat left center;
	padding-left:36px;
}
#body_user_add #content h1:first-child,
#body_user_edit #content h1:first-child,
#body_user_index #content h1:first-child {
	background:url('../../../icons/settings-32.png') no-repeat left center;
	padding-left:36px;
}

/* Tabbed pages */
#meta-pages,
.form-area div.page {
	background:#f7f7f7;
	border:1px solid #ddd;
	border-radius:0 4px 4px 4px;
}
.form-area li.tab a {
	background:#d7d7d7;
	border-radius:4px 4px 0 0;
	border:1px solid #bbb;
	border-bottom:0;
	display:inline-block;
	margin-bottom:-5px;
	padding-top:6px;
	padding-bottom:6px;
	color:#666;
	font-size:13px;
	font-weight:bold;
}
.form-area li.tab a.here { 
	background:#f7f7f7;
	border-color:#ddd;
	color:#333;
}


/* Files page */
#body_plugin_file_manager table.index th {
	border-top:1px solid #ddd;
	padding-top:4px;
}
#body_plugin_file_manager table.index th:first-child { border-left:1px solid #ddd; border-radius:4px 0 0 0; }
#body_plugin_file_manager table.index th:last-child { border-right:1px solid #ddd; border-radius:0 4px 0 0; }
#body_plugin_file_manager table.index tr td { 
	border:1px solid #ddd;
	border-bottom:0;
}

div.message {
	position:absolute;
	z-index:10000;
}

/* Edit page */
#body_page_edit { }
#body_page_edit .form-area div.pages { margin-top:0; }
#body_page_edit .form-area #part-content .page .page { background:#ececec; }
#body_page_edit .form-area li.tab  { }
#body_page_edit #site-view-page {
	font-size:13px;
}
#body_page_edit .form-area li.tab a {
	position:relative;
	z-index:500;
	margin-bottom:-7px;
}

#metainfo-tabs { margin-bottom:0px; }
#part-tabs { margin-bottom:4px; }
#metainfo-content td { background-color:#f7f7f7; }

#metainfo-tabs
#page_edit_form .form-area div.page {
	margin-top:-1px;
}

/* Tables */
table.index tr td {
	font-size:13px;
	color:#444;
}
table.index thead th:first-child { 
	padding-left:8px; 
	border-left:1px solid #ddd; 
}
table.index thead th:last-child { border-right:1px solid #ddd; }
table.index thead th {
	border-top:1px solid #ddd;
	padding-top:4px;
	padding-bottom:4px;
}

/* Settings page */
#body_setting_index table.index { margin-top:0; }
#body_setting_index table.index td.plugin h4 {
	font-size:14px;
	color:#444;
}
#body_setting_index table.index td.plugin p {
	font-style:italic;
	color:#444;
}

table.fieldset td {
	background-color:#fafafa;
}

/* Users page */
#body_user_index .index thead th {
	border-top:1px solid #ddd;
	padding-top:4px;
	padding-bottom:4px;
}
#body_user_index .index tr.node td:first-child { border-left:1px solid #ddd; }
#body_user_index .index tr.node td:last-child { border-right:1px solid #ddd; }

/* Misc */
.form-area { padding-top:0; }
.form-area p small {
	font-size:13px;
	font-style:italic;
	color:#555;
	margin-top:10px;
	display:block;
	clear:left;
}
.form-area div.row p label {
	font-size:13px;
	margin-right:10px;
	color:#444;
}
#body_page_edit #site-view-page,
input.button { 
	background:#e6e6e6 url('images/button-bg.gif') repeat-x left center;
	font-size:13px;
	font-weight:bold;
	padding:6px 8px;
	color:#444;
	border:1px solid #ccc;
	cursor:pointer;
	margin-right:10px;
	border-radius:4px;
	text-decoration:none;
}
#body_page_edit #site-view-page:hover,
input.button:hover {
	border-color:#aaa;
	color:#111;
}
#meta-pages {
	border-radius:0px;
	padding-bottom:10px;
}


/* Forms */
.textarea, .textbox {
	padding:4px;
	border-radius:4px;
}
.textarea:focus,
.textbox:focus { border:1px solid #aaa !important; }
.pages,.page { border-radius:0 4px 4px 4px !important; }

/* Snippet page */
#body_snippet_add #snippet_name, 
#body_snippet_edit #snippet_name {
	width:95% !important;
} 

/* Layout add/edit pages */
#body_layout_add, #body_layout_edit { }
#body_layout_add .form-area, #body_layout_edit .form-area { 
	margin-top:40px;
}
#body_layout_add p.title, 
#body_layout_edit p.title { 
	background-color:#F7F7F7;
	border-radius:4px;
	border:1px solid #ddd;
	padding:5px 20px 10px 10px;
}
#body_layout_add p.title label,
#body_layout_edit p.title label {
	margin:0;
	margin-bottom:5px;
}
#body_layout_add table.fieldset tbody tr td, 
#body_layout_edit table.fieldset tbody tr td { 
	border:1px solid #ddd; 
	border-left:0;
	border-right:0;
	padding-top:8px;
	padding-bottom:8px;
}
#body_layout_add table.fieldset tbody tr td:first-child, 
#body_layout_edit table.fieldset tbody tr td:first-child {
	border-left:1px solid #ddd;
}
#body_layout_add table.fieldset tbody tr td:last-child,
#body_layout_edit table.fieldset tbody tr td:last-child {
	border-right:1px solid #ddd;
}
#body_layout_add table.fieldset td,
#body_layout_edit table.fieldset td {
	font-size:13px;
	color:#444;
}
#body_layout_add table.fieldset td.field input.textbox,
#body_layout_edit table.fieldset td.field input.textbox {
	width:97%;
}
#body_layout_add p.content,
#body_layout_edit p.content {
	padding:5px 0;
}
.form-area h3,
form label {
	font-size:13px;
	color:#444;
	font-weight:bold;
}
.form-area h3 {
	margin:15px 0 5px 0;
}
#body_layout_add p.content label,
#body_layout_edit p.content label {
	margin-bottom:5px;
	display:inline-block;
}
textarea#snippet_content,
textarea#layout_content {
	font-family:Consolas, Courier new;
	font-size:15px;
	color:#555;
}


/* Users */
table#users th:first-child { border-radius:4px 0 0 0 !important; }
table#users th:last-child { border-radius:0 4px 0 0 !important; }

#body_user_add table.fieldset input.textbox,
#body_user_edit table.fieldset input.textbox {
	width:95%;
}


/* Popup windows file manager */
#mask {	display:none !important; }
#boxes .window {
	left:30% !important;
	top:35% !important;
	border-radius:4px !important;
}
#boxes .window .titlebar {
	background-color:#565656;
	font-size:15px;
	font-weight:bold;
}


/* Hacks */
#header #mainTabs { margin:13px 0 0 0\9; }
#header #mainTabs ul li a { 
	*padding-left:8px !important; 
	*padding-bottom:6px !important; 
	*padding-top:2px !important; 
}
