* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px verdana, arial, helvetica, sans-serif;
  color: #fff;
  background-color: #6ad;
  text-align: center;
  line-height: 150%;
}

a {
  color: #147;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: -10px -10px 5px;
  padding: 10px 10px 5px;
  background: #123;
  color: #fff;
  font-size: 20px;
  border-bottom: 3px solid #123;
}

p {
  margin: 8px 0;
}

/* Form ------------------------------------------------------------------- */
label {
  margin: 3px 0;
  font-size: 90%;
  font-weight: bolder;
  display: block;
}

label.checkbox {
  font-weight: normal;
  display: inline;
}

input {
  border: 1px solid #ccc;
  padding: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  background: white;
  color: black;
}

input:hover {
  border: 1px solid #6ad;
}

input.medium { width: 150px; }

input.checkbox {
  border: 0;
  width: auto;
}

input.submit {
  margin-top: 10px;
}

/* Construction ----------------------------------------------------------- */
#dialog {
  margin: 100px auto 0 auto;
  background: #fff;
  color: #222;
  border: 3px solid #123;
  padding: 10px;
  width: 332px;
  text-align: left;
}

/* Login dialog ----------------------------------------------------------- */
#login-username-div, #login-password-div {
  padding-top: 1px;
}

#login-username-div {
  float: left;
  width: 170px;
}

* html #login-username-div {
  margin-top: 1px;
}

#login-password-div {
  margin-left: 170px;
}

#login-submit span, #forgot-submit span {
  padding-left: 8px;
  font-size: 11px;
}

* html #login-submit span, * html #forgot-submit span {
  position: relative;
  top: -4px;
}

#forgot-email {
    width: 325px;
}

/* Messages --------------------------------------------------------------- */
#error, #success {
  margin: -5px -10px 0;
  padding: 10px 20px;
  text-align: left;
}
#error {
  background: #a22;
  color: #fff;
}
#success {
  background: #cfc;
  color: #051;
}